* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator {
  width: 342px;        /* 285 * 1.2 */
  height: 650px;       /* 500 * 1.2 */
  margin: 0 auto;
  border-radius: 39px; /* 47 * 1.2 */
  padding: 24px;         /* 20 * 1.2 */
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.history {
  display: flex;
  flex-direction: column-reverse;
  height: 72px;          /* 60 * 1.2 */
  overflow-y: auto;
  background-color: #000000;
  margin-bottom: 12px;   /* 10 * 1.2 */
}



.history-item {
  font-size: 14.4px;     /* 12 * 1.2 */
  color: #383636;
  margin: 2.4px 0;       /* 2 * 1.2 */
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.history-item:hover {
  color: #4c4c4c;
  font-size: 14.9px
}


input {
  height: 60px;          /* 50 * 1.2 */
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-align: right;
  font-size: 36px;       /* 30 * 1.2 */
  padding-left: 12px;    /* 10 * 1.2 */
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 6px;    /* 5 * 1.2 */
}

.preview {
  background-color: #000000;
  font-size: 16.6px;     /* 18 * 1.2 */
  text-align: right;
  color: #484848;
  width: 100%;
  height: 20px;          /* 40 * 1.2 */
  padding-left:  5px;       /* 10 * 1.2 */
  cursor: pointer;
  margin-bottom: -20px;    /* 5 * 1.2 */
  display: block;
  
  
}

.preview:hover {
  color: #474747;
}

.line {
  border-top: 0.12px solid #6e6e6e; /* 0.1 * 1.2 */
  margin-top: 45px;
  padding-top: 15px;   
  display: block;

}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;          /* 10 * 1.2 */
  flex-grow: 1;
  
}

button {
  font-size: 24px;    /* 20 * 1.2 */
  padding: 12px;      /* 10 * 1.2 */
  border: none;
  border-radius: 120%; 
  background: #000000;
  color: white;
  height: 66px;       /* 55 * 1.2 */
  width: 66px;        /* 55 * 1.2 */
}

button:hover {
  background: #24242476;
  color: #cfcfcf;
  border-radius: 120%;
}

button.equals {
  background-color: orange;
  color: white;
  border-radius: 120%;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

button.equals:hover {
  background-color: rgb(217, 133, 7);
  color: white;
  transform: scale(0.95);
}

.function {
  color: orange;
}

.function:hover {
  color: orange;
  font-size: 24px;    /* 20 * 1.2 */
}

.operator {
  color: orange;
}

.operator:hover {
  color: rgb(255, 157, 0);
  font-size: 24px;    /* 20 * 1.2 */
}
