.calculator {
    width: 260px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background: #5d5d5d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;           
    padding: 10px 15px;          
    border: 1px solid #ccc;      
    border-radius: 20px;         
    box-sizing: border-box;      
    background-color: #fff;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.1); 
  }
  
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  button:hover {
    background: #45a049;
  }
  