.calculator {
    width: 260px;
    margin: 0 auto;
    border-radius: 47px;
    padding: 20px;
    background: #000000;
    /* box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); */
  }
  
  input {
    margin-top: 70%;
    margin-bottom: 5%;
    height: 50px;
    width: 225px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    text-align: right;
    font-size: 30px;
    padding-left: 13%;
  }
  
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
    border: none;
    background: #000000;
    color: white;
    height: 55px;
  
    
  }
  
  button:hover {
    background: #11111176;
    color: #cfcfcf;
    border-radius: 100%;
  }
  button.equals {
    background-color: orange;
    color: white;
    border-radius: 100%;
    grid-column: 4 / 5; /* อยู่คอลัมน์สุดท้าย */
    grid-row: 5 / 6;    /* อยู่แถวสุดท้าย */
  }
  
  button.equals:hover {
    background-color: rgb(217, 133, 7);
    color: white;
    border-radius: 100%;
    transform: scale(1.1);
  }
  .line {
    border-top: 0.1px solid #141414; /* เส้นแนวนอน */
    margin: 10px 0;
  }
  .function{
    color: orange;
  }
  .function:hover{
    color: orange;
  }
  .operator{
    color: orange;
  }
  .operator:hover{
    color: rgb(255, 157, 0);
  }